<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
		<div class="HDR">
			<a href="{% url 'dashboard' %}">
				<h1>ComGrads</h1>
			</a>
            <a href="{% url 'edit_profile' %}">
                <button class="last">Profile</button>
            </a>
            <a href="{% url 'match' %}">
                <button>Matches</button>
            </a>
            <a href="{% url 'meetup' %}">
                <button>Meetups</button>
            </a>
            <a href="{% url 'message' %}">
                <button>Messages</button>
            </a>
            <a href="{% url 'textbook' %}">
                <button class="first">Textbooks</button>
            </a>
		</div>
	</head>
	<body>
    <br>
	{% block content %}
	{% endblock %}
	</body>
</html>
