<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
		<div class="HDR">
			<a href="/../dashboard/">
				<h1>ComGrads</h1>
			</a>
			<form method='POST'>
				{% csrf_token %}
				<button type="submit" name="return">Profile</button>
				<button type="submit" name="match">Matches</button>
				<button type="submit" name="meetup">Meetups</button>
				<button type="submit" name="message">Messages</button>
				<button type="submit" name="textbook">Textbooks</button>
			</form>
		</div>
	</head>
	<body>
    <hr> <br>
	{% block content %}
	{% endblock %}
	</body>
    <hr> 
</html>
