{% extends "base_logged.html" %}
{% load staticfiles %}
        {% block content %}
		<link href="{% static style.css %}" rel="stylesheet" type="text/css"/>
        <div>
			<h2>Welcome {{ name }}</h2>
            <h3>Profile Details</h3>
            <div class="p"> Bio: </div> <br>
            {{ description }}
            <br><br> <div class="p"> Courses: </div> <br>
            {% for enrolment in enrolments %}
                {{ enrolment }}
            {% endfor %}
        </div>
        {% endblock content %}

