{% extends "base_logged.html"%}
{% load staticfiles %}
        {% block content %}
        
		<div>
            <h2>Match Requests</h2>
            {% if received_requests %}
                {% for req in received_requests %}
                  {{ req.sender }} <br>
                {% endfor %}
            {% else %}
            You have no match requests.
            {% endif %}
        </div>

        <div>
            <h2>Matches</h2>
            {% if matched_list %}
                {% for user in matched_list %}
                  {{ user }} <br>
                {% endfor %}
            {% else %}
            No matches.
            {% endif %}
        </div>

		<div>
            <h2>Pending</h2>
            {% if sent_requests %}
                {% for req in sent_requests %}
                <a href={{ req.receiver }}>
                    {{ req.receiver.first_name }} {{ req.receiver.last_name }}
                </a> <br>
                {% endfor %}
            {% else %}
            You have sent no match requests.
            {% endif %}
        </div>
        {% endblock content %}
