{% extends "base_logged.html"%}
{% load staticfiles %}
        {% block content %}
		<div>
            <h2>Match Requests</h2>
            {% if received_list %}
                {% for user in match_requests %}
                  {{user}} <br>
                {% endfor %}
            {% else %}
            You have no match requests.
            {% endif %}
        </div>

        <div>
            <h2>Matches</h2>
            {% if matched_list %}
                {% for user in matched_list %}
                  {{user.first_name }} 
                  {{user.last_name }} <br>
                  {{user}} <br>
                {% endfor %}
            {% else %}
            No matches.
            {% endif %}
        </div>

		<div>
            <h2>Pending Requests</h2>
            {% if pending_list %}
                {% for user in match_requests %}
                  USERRR 
                {% endfor %}
            {% else %}
            No match requests currently =( 
            {% endif %}
        </div>
        {% endblock content %}
