{% extends "base_logged.html"%}
{% block content %} 
        <a href="{% url 'meetup' %}">
            <button>Cancel</button>
        </a>
        <br> <br><br>
        <div>
            <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                {% if field.label == 'Guest' %}
                    {{field.label_tag}}
                    <select name="guest">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{user.first_name}} {{user.last_name}}</option>
                        {% endfor %}
                    </select>
                {% else %}     
                    {{field.label_tag}}
                    {{ field }}
                {% endif %}
                <br> <br>
            {% endfor %}
        	<button type="submit" name="request_meetup" value="login">Send</button>
            </form>
            {{ error }}
        </div>
        {{form.error}}
        {{ form.non_field_errors }}
{% endblock %} 

