{% extends "base_logged.html"%}
{% block content %} 
        <div>
            <h3>Meetups</h3>
            {% if meetups %}
                {% for meetup in meetups %}
                    <br>
                    Host: 
                    <a href={{ meetup.host }}>
                        {{ meetup.host.first_name }} {{ meetup.host.last_name }}
                    </a>
                    Guest: 
                    <a href={{ meetup.guest }}>
                        {{ meetup.guest.first_name }} {{ meetup.guest.last_name }}
                    </a>
                    location: {{ meetup.location }} <br>
                    date: {{ meetup.date }} <br>
                    time: {{ meetup.time }} <br>
                    description: {{ meetup.description }} <br> <br> <br>
                {% endfor %}
            {% else %}
                <p> You currently do not have any meetups </p>
            {% endif %}
        </div>
        <div>
            <h3>Meetup Requests</h3>
            {% if requests %}
                {% for request in requests %}
                    <br>
                    <a href={{ send.host }}>
                        {{ request.host.first_name }} {{ request.host.last_name }}
                    </a>
                    location: {{ request.location }} <br>
                    date: {{ request.date }} <br>
                    time: {{ request.time }} <br>
                    description: {{ request.description }} <br>
                    <form method="POST"> 
                        {% csrf_token %}
                        <button type="submit" name="accept" value="{{ request.id }}">Accept</button> 
                    </form> 
                    <form method="POST"> 
                        {% csrf_token %}
                        <button type="submit" name="reject" value="{{ request.id }}">Reject</button> 
                    </form> <br> <br> <br>
                {% endfor %}
            {% else %}
                <p> You currently do not have any meetup requests </p>
            {% endif %}
        </div>
        <div>
            <h3>Meetups Sent</h3>
            {% if sends %}
                {% for send in sends %}
                    <br>
                    <a href={{ send.guest }}>
                        {{ send.guest.first_name }} {{ send.guest.last_name }}
                    </a>
                    location: {{ send.location }} <br>
                    date: {{ send.date }} <br>
                    time: {{ send.time }} <br>
                    description: {{ send.description }} <br> <br> <br>
                {% endfor %}
            {% else %}
                <p> You currently do not have any meetups sent </p>
            {% endif %}
        </div>
        <form method="POST">
            <h3> New Meetup </h3> <br> <br> <br>
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                {% if field.label == 'Guest' %}
                    {{field.label_tag}}
                    <select name="guest">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{user.first_name}} {{user.last_name}}</option>
                        {% endfor %}
                    </select>
                {% elif field.label == 'Date' %}     
                    {{ field.label_tag }}
                    {{ field }}
					{{ field.help_text }}
				{% else %}
					{{ field.label_tag }}
                    {{ field }}
                {% endif %}
                <br> <br>
            {% endfor %}
            <br> <br> <br>
        	<button type="submit" name="request" value="request">Send</button>
            {{ error }}
            {{ form.error }}
            {{ form.non_field_errors }}
        </form>
{% endblock %} 

