{% extends "base_logged.html"%}
{% block content %} 
		<form action="dashboard">
			<button type="submit">Back to Profile</button>
		</form>
        <div>
            <h2>(List of messages here)</h2>
            <p>Example: kevin<br>
                kevin: hi my name is kevin<br>
                john: hi kevin my name is john<br>
                (textbox here to type up a message)
                <button type="button">Send</button>
            </p>
        </div>
        
        <div>
        {% for convo in message %}
            <h2>{{convo.0 }}</h2>
            <p>
                {% for sentence in convo.1 %}
                    {% if sentence.0 == 1 %}
                        {{convo.0}}: 
                    {%else%}
                        {{ user }}
                    {% endif %}:
                     {{ sentence.1 }} <br>

                {% endfor %}
                 <form name="new_message" method = 'POST'>
          		{% csrf_token %}
                {{form}}    
                <button type="submit" value='send_message'>Send</button>
                </form> 
            </p>
            <br>
        {% endfor %}
        </div>
{% endblock %} 
