{% extends "base_logged.html"%}
{% block content %} 
        <br> <br> <br>
        <div>
        {% for convo in message %}
            <h2>{{convo.0 }}</h2>
            <p>
                {% for sentence in convo.1 %}
                    {% if sentence.0 == 1 %}
                        {{convo.0}}: 
                    {%else%}
                        {{ user }}
                    {% endif %}:
                     {{ sentence.1 }} <br>

                {% endfor %}
                 <form name="new_message" method = 'POST'>
          		{% csrf_token %}
                {{form}}    
                <button type="submit" value='send_message'>Send</button>
                </form> 
            </p>
            <br>
        {% endfor %}
        </div>
{% endblock %} 
