{% extends "base_logged.html"%}
	<head>
		<a href="dashboard">
			<h1>ComGrads</h1>
		</a>
	</head>
	<body>
	{% block content %}
		<form action="dashboard/" method="POST">
			{% csrf_token %}
			<button type="submit">Back to Dashboard</button>
		</form>
        </br>
        name: {{ user.name }} </br>
        dob: {{ user.dob }} </br>
        description: {{ user.description }} </br>
        (other info to be added later)
        </br>
		<form action="add/" method="POST">
			{% csrf_token %}
			<button type="submit">Send Match Request</button>
		</form>
	{% endblock %}
	</body>
</html>
