<!DOCTYPE html>
<html>
	<head>
		<a href="dashboard">
			<h1>ComGrads</h1>
		</a>
	</head>
	<body>
	{% block content %}
		<form action="dashboard/" method="POST">
			{% csrf_token %}
			<button type="submit">Back to Dashboard</button>
		</form>
            </br>
            </br>
		<form action="dashboard/" method="POST">
			{% csrf_token %}
			{{ form.as_ul }} 
			<button type="submit">Save Change</button>
		</form>
		<form action="dashboard/" method="POST">
			{% csrf_token %}
			<button type="submit">Discard Changes</button>
		</form>
	{% endblock %}
	</body>
</html>
