
h1{
	color: red;
	font-family: calibri-light;
	font-size: 55px;
	margin: 25px;
	display: inline;
}

a{
	text-decoration: none;
}

a h1:hover{
	color: white;
	background-color: red;
}
body{
	margin: 15px;
}

form{
	font-weight: normal;
	text-align: left;
}

button{
	text-align: center;
	background-color: rgb(150, 100, 200);
}

button:hover{
	border: 2px solid rgb(255, 100, 150);
}


