
h1{
	color: red;
	font-family: calibri-light;
	font-size: 55px;
	margin: 25px;
	display: inline;
}

a{
	text-decoration: none;
}

a h1:hover{
	color: white;
	background-color: red;
}

label{
	color: rgb(50, 150, 50);
}

input{
	width: 95%;
	border: 1px solid black;
	padding: 3px 10px;
}

input:focus{
	border-bottom: 1px solid red;
}

body{
	margin: 15px;
}

form{
	font-weight: normal;
	text-align: left;
}

button{
	text-align: center;
	background-color: rgb(150, 100, 200);
}

button:hover{
	border: 2px solid rgb(255, 100, 150);
}


