
h1{
	color: red;
	font-family: calibri-light;
	font-size: 55px;
	margin: 25px;
	display: inline;
}

a{
	text-decoration: none;
}

a h1:hover{
	color: white;
	background-color: red;
}

label{
	color: rgb(50, 150, 50);
}

input{
	align: middle;
	width: 200px;
	border: 1px solid black;
	padding: 3px 10px;
}

input:focus{
	border-bottom: 1px solid red;
}

body{
	margin: 15px;
}

form{
	font-weight: normal;
	text-align: left;
}

button{
	width: 100px;
	height: 50px;
	border: 2px solid red;
	border-radius: 15px;
	font-size: 15px;
    float: left;
	text-decoration: none;
	background-color: orange;
	text-align: center;
}

button:hover{
	border: 2px solid yellow;
}

select{
	width: 200px;
	padding: 3px;
	border: 0px;
	background-color: orange;
}

