
h1{
	color: red;
	font-family: calibri-light;
	font-size: 55px;
	margin: 25px
}

a{
	text-decoration: none;
}

body{
	background-color: rgb(230, 230, 230);
	margin: 15px;
}

input:focus{ /*doesn't work*/
	outline: 2px, solid, pink;
}

form{
	font-weight: bold;
}

button{
	background-color: white;
}

button:hover{
	border: 2px solid orange;
	background-color: yellow;
}
