
h1{
	color: red;
	font-family: calibri-light;
	font-size: 55px;
	margin: 25px;
	display: inline;
}

a{
	text-decoration: none;
}

a h1:hover{
	opacity: 0.8;
}

.HDR{
	padding: 5px;
	margin: 0 -1rem;
	background-color: rgb(50, 50, 50);
}

.HDR a h1{
	-webkit-text-stroke: 1px yellow;
}

body{
	margin: 15px;
}

form{
	font-weight: normal;
	float: left;
	display: block;
	overflow: hidden;
	padding: 2px 25px;
}

button{
	width: 100px;
	height: 50px;
	border: 2px solid rgb(0, 152, 255);
	border-radius: 15px;
	font-size: 15px;
	text-decoration: none;
	background-color: orange;
	text-align: center;
}

.fancy{
	width: 100px;
	height: 50px;
	float: right;
	border: 2px solid rgb(0, 152, 255);
	border-right-width: 0px;
	border-radius: 0px;
	font-size: 15px;
	text-decoration: none;
	background-color: orange;
	text-align: center;
	margin-top: 8px;
}

button:hover{
	border: 2px solid yellow;
}

.fancy.first{ 
	border-radius: 15px 0 0 15px;
}

.fancy.last{
	border-right: 2px solid rgb(0, 152, 255);
	border-radius: 0 15px 15px 0;
}

input{
	width: 95%;
	border: 1px solid black;
	padding: 3px 10px;
}

input:focus{
	border-bottom: 1px solid red;
}
