<!DOCTYPE html>
<html>
	<head>
		<h1>Profile Details</h1>
	</head>
	<body>
        <div>
            name: john smith<br>
            university: UNSW<br>
            (rest of details here)<br>
        </div>
		<div class="popup" onclick="myFunction()">Click me!
            <span class="popuptext" id="myPopup">Popup text...</span>
        </div>
		<br>
		<form action="match_search">
			<button type="submit">Find Matches</button>
		</form>
		<br>
		<form action="match_request">
			<button type="submit">Match Requests</button>
		</form>
		<br>
		<form action="message">
			<button type="submit">Messages</button>
		</form>
		<br>
		<form action="match_current">
			<button type="submit">Current Matches</button>
		</form>
		<br>
		<form action="calendar">
			<button type="submit">Calendar</button>
		</form>
		<br>
	</body>
</html>
