<!DOCTYPE html>
<html>
	<head>
		<h1>Profile Details</h1>
	</head>
	<body>
        <div>
            name: john smith<br>
            university: UNSW<br>
            (rest of details here)<br>
        </div>
		<form>
			<button type="submit">Edit Profile (clicking on this should have a profile editing form pop up)</button>
		</form>
		<br>
		<form action="match">
			<button type="submit">Matches</button>
		</form>
		<br>
		<form action="message">
			<button type="submit">Messages</button>
		</form>
		<br>
		<form action="textbooks">
			<button type="submit">Textbooks</button>
		</form>
		<br>
		<form action="calendar">
			<button type="submit">Calendar</button>
		</form>
		<br>
	</body>
</html>
