<!DOCTYPE html>
<html>
	<head>
		<h1>Profile Details</h1>
	</head>
	<body>
		<form action="edit.html">
			<button type="submit">Edit Profile</button>
		</form>
		<br>
		<form action="matchSearch.html">
			<button type="submit">Find Matches</button>
		</form>
		<br>
		<form action="matchRequest.html">
			<button type="submit">Match Requests</button>
		</form>
		<br>
		<form action="message.html">
			<button type="submit">Messages</button>
		</form>
		<br>
		<form action="matchCurrent.html">
			<button type="submit">Current Matches</button>
		</form>
		<br>
		<form action="calendar.html">
			<button type="submit">Calendar</button>
		</form>
		<br>
	</body>
</html>
