<!DOCTYPE html>
<html>
	<body>
		Textbooks for {{ course }}<br><br>
		<input type="text" placeholder="Search"><br>
		<button type="submit">Find Textbooks</button><br>
		This button should search for anything that matches the text that is typed into the search bar and refresh the textbook list accordingly<br>
		<button type="submit">List Textbook for sale</button><br>
		Button creates a popup for the user to enter information for the textbook giving its name, author, edition(if there is one), condition of textbook ...<br>
		<form action=textbook_individual.html>
			<button type="submit">textbook_name</button>
		</form>
		links to an individual textbook where extra information can be found e.g. availability/sellers
	</body>
</html>
