<!DOCTYPE html>
<html>
	<head>
		<h1>Profile Details</h1>
	</head>
	<body>
        <div>
            name: john smith<br>
            university: UNSW<br>
            (rest of details here)<br>
        </div>
		<form action="user/edit/">
			<button type="submit">Edit Profile</button>
		</form>
		<br>
		<form action="match/">
			<button type="submit">Matches</button>
		</form>
		<br>
		<form action="meetup/">
			<button type="submit">Meetups</button>
		</form>
		<br>
		<form action="message/">
			<button type="submit">Messages</button>
		</form>
		<br>
		<form action="textbook/">
			<button type="submit">Textbooks</button>
		</form>
		<br>
		<br>
	</body>
</html>
