<!DOCTYPE html>
<html>
	<head>
		<h1>ComGrads</h1>
	</head>
	<body>
	{% block content %}
        <form action="dashboard/" method="POST">
		{% csrf_token %}
		{{form.as_ul}}  
		<button type="submit" name="form_login" value="login">Login</button>
		</form>
        <form action="credentials/" method="POST">
		{% csrf_token %}
		<button type="submit" name="form_create" value="create">Create Account</button>
	{% endblock %}
	</body>  
</html>
<!--		<form action="dashboard" method="POST">
			Username:<br>
			<input type="text" placeholder="Enter Username" required><br>
			Password:<br>
			<input type="password" placeholder="Enter Password" required><br><br>
-->

