{% extends "base_logged.html"%}
	<body>
        {% block content %}
        <h2>Matches</h2>
		<form action="dashboard">
			<button type="submit">Back to Dashboard</button>
		</form>
		<form action="" method="GET">
			<button type="submit" name="find">Find matches (clicking on this should create a match preferences popup)</button>
		</form>

		<div>
            <h2>List of Match Requests</h2>
            {% if received_list %}
                {% for user in match_requests %}
                  USERRR 
                {% endfor %}
            {% else %}
            No match requests currently =( 
            {% endif %}

            <p>Example: timothy
                <button type="button" onclick="window.location='/user/timothy'";>Profile</button>
                <button type="button">Accept</button>
                <button type="button">Reject</button>
            </p>
        </div>

        <div>
            <h2>List of Matches</h2>
            {% if matched_list %}
                {% for user in matched_list %}
                  {{user.first_name }} 
                  {{user.last_name }} <br>
                {% endfor %}
            {% else %}
            No match requests currently =( 
            {% endif %}
        </div>

		<div>
            <h2>List of Pending Requests</h2>
            {% if pending_list %}
                {% for user in match_requests %}
                  USERRR 
                {% endfor %}
            {% else %}
            No match requests currently =( 
            {% endif %}

            <p>Example: timothy
                <button type="button" onclick="window.location='/user/timothy'";>Profile</button>
                <button type="button">Accept</button>
                <button type="button">Reject</button>
            </p>
        </div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
        {% endblock content %}

	</body>
</html>
