<!DOCTYPE html>
<html>
	<body>
        <h1>Matches</h1>
		<form action="dashboard">
			<button type="submit">Back to Dashboard</button>
		</form>
		<form action="" method="GET">
			<button type="submit">Find matches (clicking on this should create a match preferences popup)</button>
		</form>
        <div>
            <h2>(List of matches here)</h2>
            <p>Example: kevin
                <button type="button" onclick="window.location='/user/kevin'";>Profile</button>
            </p>
        </div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
		<div>
            <h2>(List of match requests here)</h2>
            <p>Example: timothy
                <button type="button" onclick="window.location='/user/timothy'";>Profile</button>
                <button type="button">Accept</button>
                <button type="button">Reject</button>
            </p>
        </div>
	</body>
</html>
