<!DOCTYPE html>
<html>
	<body>
		<form action="dashboard">
			<button type="submit">Back to Profile</button>
		</form>
        <div>
            <h2>(List of messages here)</h2>
            <p>Example: kevin<br>
                kevin: hi my name is kevin<br>
                john: hi kevin my name is john<br>
                (textbox here to type up a message)
                <button type="button">Send</button>
            </p>
        </div>
        <div>
            <h2>(List of messages here)</h2>
            <p>Example: jeffrey<br>
                jeffrey: my name is jeff<br>
                john: hi jeff my name is john<br>
                (textbox here to type up a message)
                <button type="button">Send</button>
            </p>
        </div>
	</body>
</html>
